.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.3rem;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header--contents {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 10px;
}

.header--logo {
    margin-right: 10px;
    font-size: 30px;
}

.logo--name {
    font-size: 30px;
    font-weight: bolder;
}

.header--buttons {
    z-index: 1;
    display: flex;
    margin-right: 20px;
    height: 100%;
}

.header--buttons button {
    border: none;
    padding: 20px;
    background-color: transparent;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
    cursor: pointer;
    user-select: none;
}

.header .header--buttons button:hover {
    color: #32DE8A;
}

.header--sticky .header--buttons button:hover {
    color: white;
}

.header--underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #32DE8A;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.header--sticky .header--underlay {
    transform: translateY(0);
}
