* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header--contents {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 10px;
}

.header--logo {
    margin-right: 10px;
    font-size: 30px;
}

.logo--name {
    font-size: 30px;
    font-weight: bolder;
}

.header--buttons {
    z-index: 1;
    display: flex;
    margin-right: 20px;
}

.header--underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #16C47F;
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(.645, .045, .355, 1);
}

.header--sticky .header--underlay {
    transform: translateY(0);
}

.header--buttons button {
    border: none;
    padding: 20px;
    background-color: transparent;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--buttons button:hover {
    cursor: pointer;
    user-select: none;
    background-color: darkgray;
}

.section.hero {
    height:90vh;
    width: 100vw;
    position: relative;
}

.section.hero header {
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 35px;
    width: 35%;
    z-index: 2;
    color:#059212;
}

.section.hero .container {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero .container img {
    position: absolute;
    width: 50%;
    height: 70%;
    object-fit: cover;
    right: 5%;
    top: 15%;
    border-radius: 20px;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.hero .container img.active {
    opacity: 1;
}

.hero header h2 {
    transition: opacity 0.5s ease-in-out;
}

.task {
    position: relative;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

.task header {
    position: absolute;
    width: 35%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 25%;
    right: 5%;
    transform: translateX(100vw);
    transition: transform 1s;
}

.task.active header {
    transform: translateX(0);
}

.task header h2 {
    color: #1F7D53;
    font-size: 30px;
}

.task header p {
    font-size: 20px;
}

.task button {
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: large;
    font-weight: bolder;
    background-color: #5CB338;
}

.task button:hover {
    cursor: pointer;
    user-select: none;
    transition: color 0.5s;
    color: white;
}

.task .background {
    position: absolute;
    width: 40%;
    height: 70%;
    top: 10%;
    left: 10%;
    overflow: hidden;
    border-radius: 20px;
    transform: translateX(-100vw);
    transition: transform 1s;
}

.task.active .background {
    transform: translateX(0);
}

.section.market {
    position: relative;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

.section.market header {
    position: absolute;
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 25%;
    left: 5%;
    transform: translateX(-100vw);
    transition: transform 1s;
}

.section.market.active header {
    transform: translateX(0);
}

.section.market header h2 {
    color: #1F7D53;
    font-size: 30px;
}

.section.market header p {
    font-size: 20px;
}

.section.market button {
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: large;
    font-weight: bolder;
    background-color: #5CB338;
}

.section.market button:hover {
    cursor: pointer;
    user-select: none;
    transition: color 0.5s;
    color: white;
}

.section.market .background {
    position: absolute;
    width: 40%;
    height: 70%;
    top: 10%;
    right: 5%;
    overflow: hidden;
    border-radius: 20px;
    transform: translateX(100vw);
    transition: transform 1s;
}

.section.market.active .background {
    transform: translateX(0);
}

.section.connect {
    position: relative;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

.section.connect header {
    position: absolute;
    width: 35%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 25%;
    right: 5%;
    transform: translateX(100vw);
    transition: transform 1s;
}

.section.connect.active header {
    transform: translateX(0);
}

.section.connect header h2 {
    color: #1F7D53;
    font-size: 30px;
}

.section.connect header p {
    font-size: 20px;
}

.section.connect button {
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: large;
    font-weight: bolder;
    background-color: #5CB338;
}

.section.connect button:hover {
    cursor: pointer;
    user-select: none;
    transition: color 0.5s;
    color: white;
}

.section.connect .background {
    position: absolute;
    width: 40%;
    height: 70%;
    top: 10%;
    left: 10%;
    overflow: hidden;
    border-radius: 20px;
    transform: translateX(-100vw);
    transition: transform 1s;
    object-fit: cover;
}

.section.connect.active .background {
    transform: translateX(0);
}

footer {
    height: 25vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

